.home-container {
	background-color: #3d40c6;
	width: 100%;
	display: flex;
}
.img-logo {
	width: 105px;
	height: 134px;
	padding-top: 30px;
	margin: auto;
	margin: 0px 48.6719px;
}

.home {
	background-color: #f7f7fc !important;
}

.menu {
	width: 15%;
	min-width: 90px;
	background-color: #3d40c6;
	height: 100%;
}
.menu-top {
	display: flex;
}
.menu-lists {
	margin: 20px 0;
	padding-left: 30px;
	list-style: none;
	color: #fcfcfc;
	font-size: 1.6rem;
}
.menu-list {
	display: flex;
	margin-bottom: 18px;
	height: 50px;
	text-decoration: none;
}
.menu-item {
	&-active {
		background-color: #fcfcfc;
		display: flex;
		z-index: 1;
		border-radius: 20px 0 0 20px;
	}
}

.menu-item-icon {
	display: flex;
	align-items: center;
	margin-left: 20px;
}
.menu-item-title {
	color: #000;
	font-weight: 600;
	margin-left: 17px;
	display: flex;
	align-items: center;
	font-family: 'SVN-Gilroy-Regular';
	font-size: 17px;
	line-height: 32px;
}
.span-home {
	padding-right: 63px;
}
.CircularProgressbar-path {
	stroke: red;
}
.CircularProgressbar-trail {
	stroke: gray;
}
.menu-item-title2 {
	margin-left: 17px;
	display: flex;
	align-items: center;
	font-family: 'SVN-Gilroy-Regular';
	font-size: 17px;
	line-height: 32px;
	margin-right: -22px;
}
.span-home2 {
	padding-right: 62px;
	width: 130px;
	color: white;
	font-family: 'SVN-Gilroy-Regular';
}
.menu-item-active2 {
	display: flex;
	z-index: 1;

	border-radius: 20px 0 0 20px;
}
.menu-item-title3 {
	color: #000;

	margin-left: 19px;
	display: flex;
	align-items: center;
	font-family: 'SVN-Gilroy-Regular';
	font-size: 17px;
	line-height: 32px;
	margin-right: -22px;
	width: 132px;
}

.span-home-deactive {
	font-family: 'SVN-Gilroy-Regular';
}

.menu-item-active3 {
	display: flex;
	z-index: 1;

	border-radius: 20px 0 0 20px;
}
.span-home3 {
	color: #eee5fe;
	font-family: 'SVN-Gilroy-Regular';
}
.menu-img {
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
}
.progress {
	height: 10px !important;
	border-radius: 5px;
	background-color: #eff0f7 !important;
	border-radius: 5px !important;
	margin-left: -12px;
	width: 518px;
}
.home {
	width: 811px;
	background-color: #f7f7fc;
	padding: 40px 50px;
	border-radius: 40px 0 0 0;
	box-shadow: inset 0 0 5px #e5e5e5;
	margin-left: -5px;
}
.menu-content {
	font-size: 2rem;
	display: flex;
	margin-top: 15px;
	gap: 15px;
	border: none;
}
.tatca {
	font-size: 30px;
	font-family: 'SVN-Gilroy-Bold';
	border: none;
	background-color: #f7f7fc;
}
.thuvien {
	font-size: 30px;
	font-family: 'SVN-Gilroy-Bold';
	border: none;
	background-color: #f7f7fc;
}
.quatang {
	font-size: 30px;
	font-family: 'SVN-Gilroy-Bold';
	border: none;
	background-color: #f7f7fc;
}
.search-input {
	width: 100%;
	position: relative;
}
.search-input {
	width: 100%;
	position: relative;
	margin-top: 47px;
}
.search-icon {
	position: absolute;
	height: 100%;
	align-items: center;
	display: flex;
	padding-left: 18px;
}
.inputsearch {
	width: 100%;
	display: block;
	height: 53px;
	margin: 0;
	border: none;
	outline: none;
	background-color: #eff0f7;
	border-radius: 13px;
	padding: 4px 50px;
	font-size: 1.5rem;
	line-height: 32px;
	padding-bottom: 13px;
}
.img-icon {
	margin-left: -22px;
	height: 50px;
}
::placeholder {
	color: #6e7191;
	font-size: 14px;
	padding-top: -10px;
	font-family: 'SVN-Gilroy-Regular';
	font-style: normal;
}
.home-suggest {
	margin-top: 50px;
	width: 100%;
	height: 100%;
}
 .booking {
	font-size: 27px;
    line-height: 33px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "SVN-Gilroy-Bold";
    color: #262338;
	margin-left: -16px;
 }

.home-banner-img {
	width: 560px;
	height: 380px;
}
.sachhay {
	font-size: 27px;
    line-height: 33px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "SVN-Gilroy-Bold";
    color: #262338;
	margin-left: -16px;
}
.progress-information {
	width: 110%;
	background-color: #fcfcfc;
	border-radius: 18px;
	display: flex;
	overflow: hidden;
	margin-left: -36px;
	margin-top: 35px;
}
.banner {
	margin: 20px;
}
.imgrec {
	width: 200px;
	height: 300px;
	border-radius: 7px;
}
.detail {
	padding: 20px 40px 20px 20px;
	margin: auto;
	width: 70%;
}
.menu-item-active {
	width: 167px;
}
.recently {
	border: none;
	background: #e5fff2;
	color: #00994d;
	text-align: center;
	border-radius: 10px;
	max-width: 200px;
	min-height: 30px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	line-height: 26px;
	margin: 14px 0;
	cursor: pointer;
	font-weight: 400;
	font-size: 20px;
	font-family: 'SVN-Gilroy-Regular';
	width: 200px;
	margin-left: -14px;
}

.titles {
	color: #262338;
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	font-family: 'SVN-Gilroy-Bold';
	width: 548px;
	margin-left: -14px;
	text-align: left;
}
.audion {
	margin-top: 7px;
	color: #6e7191;
	font-weight: 400;
	font-size: 2rem;
	line-height: 26px;
	font-size: 20px;
	font-family: 'SVN-Gilroy-Regular';
	margin-left: -14px;
}
.progress-current {
	display: flex;
	flex-direction: column;
}
.progress-percent {
	display: flex;
	justify-content: flex-end;
	color: #a0a3bd;
	font-size: 14px;
	line-height: 28px;
	margin-right: 42px;
	font-family: 'SVN-Gilroy-Regular';
}
.continue-reading {
	text-align: right;
}
.continue-reading-btn {
	border: 1px solid #00994d;
	background: #fcfcfc;
	color: #00994d;
	border-radius: 40px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 600;
	line-height: 28px;
	font-family: 'SVN-Gilroy-SemiBold';
	margin-top: 24px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: -20px;
}
.pro {
	display: flex;
	justify-content: flex-end;
	color: #a0a3bd;
	font-size: 14px;
	line-height: 28px;
	font-family: 'SVN-Gilroy-Regular';
	margin-right: -20px;
}
.progress-bar {
	background: linear-gradient(95.08deg, #c566ff 2.49%, #5c00b9 97.19%);
}
.sachauto {
	width: 147px;
	height: 230px;
	border-radius: 4px;
}
.scrool {
	display: flex;
	margin-top: 30px;
	gap: 35px;
	margin-left: 0px;
}
.scrool2 {
	display: flex;
	margin-top: -480px;
	gap: 35px;
	margin-left: 10px;
}
.sachdoc {
	-font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #262338;
	margin: 10px 0 5px;
	font-family: 'SVN-Gilroy-Bold';
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-align: left;
}
.tacgia {
	font-size: 15px;
	line-height: 28px;
	font-family: 'SVN-Gilroy-SemiBold';
	font-weight: 500;
	color: #a0a3bd;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-align: left;
}
.book-title2 {
	font-size: 27px;
	line-height: 33px;
	padding-left: 15px;
	font-weight: 700;
	font-family: 'SVN-Gilroy-Bold';
	color: #262338;
	margin-left: -550px;
}
.slickslider {
	max-width: 1000px;
}
.img-caro {
	height: 380px;
	width: 560px;
}
.home-baner {
	margin: 40px -50px 0;
}
.book-title6 {
	font-size: 27px;
	line-height: 33px;
	padding-left: 431px;
	font-weight: 700;
	font-family: 'SVN-Gilroy-Bold';
	color: #262338;
	margin-left: -432px;
	margin-top: 50px;
}
.suggest {
	width: 20%;
	min-width: 341px;
	background-color: #fcfcfc;
	// box-shadow: -12px 0 40px rgb(61 64 198 / 4%);
}
.system-info {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
}
.cart-container {
	padding: 8px;
}
.cart {
	width: 28px;
	height: 28px;
}
.cart-link {
	width: 60px;
	height: 60px;
	background-color: #f7f7fc;
	justify-content: center;
	padding-top: 14px;
	padding-right: 5px;
	border-radius: 50%;
}
.cart-link1 {
	width: 60px;
	height: 60px;
	background-color: #f7f7fc;
	justify-content: center;
	padding-top: 14px;
	padding-right: -10px;
	border-radius: 50%;
}
.cart-link2 {
	width: 60px;
	height: 60px;

	justify-content: center;
	padding-top: 14px;
	padding-right: 5px;
	border-radius: 50%;
}
.cart1 {
	width: 60px;
	height: 60px;
	margin-top: -13px;
}
.cart2 {
	color: #d9dbe9;
	width: 28px;
	height: 28px;
}

.nghenhieunhat {
	font-family: 'SVN-Gilroy-Bold';
	line-height: 33px;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 27px;
	color: #262338;
	margin-left: -3px;
	margin-top: -11px;
}
.suggest-listen {
	margin: 40px 30px;
}
.suggest-information {
	width: 100%;
	margin-bottom: 50px;
	height: 100%;
	border-radius: 10px;
	display: flex;
	margin-top: 50px;
}
.banner {
	position: relative;
}
.rank {
	width: 30px;
	height: 30px;
	background-color: #ff4c4d;
	border-radius: 6px;
	position: absolute;
	top: -10%;
	left: -10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	line-height: 32px;
	color: #fcfcfc;
	font-size: 16px;
	font-family: 'SVN-Gilroy-Regular';
	margin-left: -28px;
	margin-top: -19px;
}
.rec1 {
	width: 116px;
	max-height: 170px;
	height: 170px;
	border-radius: 4px;
	margin-left: -39px;
}
.daily {
	margin-left: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	margin-top: 78px;
}

.recently9 {
	border: none;
	background: #f7f7fc;
	color: #6e7191;
	text-align: center;
	border-radius: 10px;
	width: 140px;
	height: 28px;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
	font-family: 'SVN-Gilroy-Regular';

	margin-top: -69px;
}
.recently91 {
	border: none;
	background: #f7f7fc;
	color: #6e7191;
	text-align: center;
	border-radius: 10px;
	width: 100px;
	height: 28px;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
	font-family: 'SVN-Gilroy-Regular';

	margin-top: -69px;
}
.title {
	color: #262338;
	font-weight: 700;
	font-family: 'SVN-Gilroy-Bold';
	font-size: 20px;
	line-height: 26px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin: -60px 0;
	text-align: left;
}
.author1 {
	margin: 0px 0;
	color: #a0a3bd;
	font-weight: 400;
	font-family: 'SVN-Gilroy-SemiBold';
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	padding-right: 49px;
	text-align: left;
}
.start {
	display: flex;
	align-items: center;
}
.img-start {
	width: 17.99px;
	height: 17.99px;
}
.star-number {
	font-size: 13px;
	line-height: 20px;
	color: #a0a3bd;
	margin-left: 5px;
	font-family: 'SVN-Gilroy-Regular';
}
.img-start1 {
	width: 17.99px;
	height: 17.99px;
	margin-top: -1px;
}
.recently911 {
	border: none;
	background: #f7f7fc;
	color: #6e7191;
	text-align: center;
	border-radius: 10px;
	width: 100px;
	height: 28px;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
	font-family: 'SVN-Gilroy-Regular';

	margin-top: -69px;
}


.footer {
	background-color: #3D40C6;
	width: 100%;
	height: 800px;
}
.div1-img {
	width: 50px;
	height: 50px;
}
.div1-span {
	font-size: 16px;
	color:
	#FFFFFF ;
	font-family:"SVN-Gilroy-Bold" ;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.75px;
	margin-left: 10px;
	margin-top: 13px;
}
.img {
	display: flex;
}
.text2 {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 28px;
	letter-spacing: 0.75px;
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	width: 312px;
	margin-top: 10px;
}
.elipe-img {
	width: 20px;
	height: 20px;
}
.adress {
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.text3 {
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	color: #FFFFFF;
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	width: 258px;
	margin-left: 34px;

}
.info {
	margin-left: 55px;
	padding-top: 70px;
}
.elipe-img{
	align-items: center;
	flex-direction: column;
	margin-left: -1px;
}
.mail-img {
	width: 20px;
	height: 20px;
	margin-left: -2px;
}
.text4 {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 28px;
	letter-spacing: 0.75px;
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	margin-left: 33px;
	margin-top: -3px;

}
.email {
	display: flex;
	margin-top: 23px;
}
.bocongthuong {
	width: 190px;
	height: 72px;
	margin-top: 50px;
	margin-left: 10px;
}
.police-text1 {
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
	letter-spacing: 0.75px;
	font-family:"SVN-Gilroy-Bold" ;
	font-weight: 700;
	margin-top: 82px;
	text-transform: uppercase;

}
.police {
	margin-left: 20px;
}
.police-text2 {
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.police-text3 {
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.police-text4{
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.police-text5{
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: 10px;
	padding-top: 10px;
}

.main {
	display: flex;
}
.policetong {
	padding-top: 7px;
}
.social-text {
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.75px;
	color: #FFFFFF;
	font-family:"SVN-Gilroy-Bold" ;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 80px;
    margin-left: 90px;
}
.apple {
	width: 160px;
	height: 50px;

}
.socialimg {
	margin-top: 40px;
    margin-left: 89px;
}
.badegeimg{
	width: 160px;
	height: 50px;
	margin-top: -7px;
}
.badge {
	margin-left: 82px;
	margin-top: 30px;
}
.link-text {
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.75px;
	color: #FFFFFF;
	font-family:"SVN-Gilroy-Bold" ;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 80px;
    margin-left: 90px;
}
.link-icon {
	display: flex;
	margin-left: 89px;
    margin-top: 33px;
	gap: 20px;
}
.icon1 img {
	width: 27px;
	height: 27px;
}
.link-text1 {
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.75px;
	color: #FFFFFF;
	font-family:"SVN-Gilroy-Bold" ;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 36px;
    margin-left: 90px;
}
.link-text3 {
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: 10px;
	padding-top: 25px;
	margin-left: 90px;
}
.link-text4 {
	font-family: "SVN-Gilroy-Medium";
	font-family: 500;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: -7px;
	padding-top: 25px;
	margin-left: 90px;
}
.link-text5 {
	font-family:"SVN-Gilroy-Bold" ;
	font-family: 700;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.75px;
	margin-top: -7px;
	padding-top: 25px;
	margin-left: 90px;
}
.gift-content-box {
	width: 100%;
    display: flex;
    justify-content: flex-start
}
.img-show {
	width: 154px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 215px;
	margin-top: 95px;
}
.gift-info {
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px;
	margin-top: 124px;
}
.gift-content {
	display: flex;
}
.gift-title {
	font-size: 21px;
    line-height: 28px;
    font-weight: 700;
    color: #14142b;
    margin-bottom: 16px;
	font-family: 'SVN-Gilroy-Regular';
}
.gift-text {
	color: #6e7191;

    margin-bottom: 16px;
    font-family: "SVN-Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: .75px;
}
.gift-form {
	max-width: 275px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9dbe9;
    background: #fcfcfc;
    border-radius: 13px;
    padding: 0 16px;
	height: 52px;
}
.gift-from input {
	outline: none;
    background: #fcfcfc;
    margin-right: 10px;
    width: 100%;

}
.gift-input {
	border: none;
}
.gift-button {
	border: none;
}
.buton-img {
	width: 15.5px;
	height: 15.5px;
	margin-top: 5px;

}
.QT img {
	width:170px;
	height: 210px;
	margin-top: 100px;
	margin-left: 75px;
}
::placeholder{
	font-size: 15px;
}
