.login-container {
    background-color: #3d40c6;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    padding: 15px;
    overflow: hidden;
}
.choose-Topic__Logo {
    display: flex;
    flex-direction: column;
    font-family: "SVN-Gilroy-Bold";
    margin: 10rem auto 0 7rem;
    width: 50%;
    margin-top: 100px;
    margin-left: 70px;
    position: relative;
    line-height: 30px;
}
.choose-topic__Content {
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #fcfcfc;
    position: absolute;
    top: -50px;
    font-family: "SVN-Gilroy-Bold";
    left: -5px;
}
.choose-topic__Decription {
    font-size: 20px;
    position: absolute;
    margin-top: -5px;
    color: #fcfcfc;
    width: 500px;
    font-family: "SVN-Gilroy-Bold";
    top: 20-px;
    left: -4px;
    text-align: left;
    line-height: 31px;

}
.choose-Topic-img {
    margin-top: -3rem;
    margin-left: 0rem;
    width: 490px;
}
.login-content {
    min-width: 709px;
    background-color: #fcfcfc;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 33px;
}
.search-input {
    width: 100%;
    position: relative;
}
.search-icon {
    position: absolute;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 18px;
}
.color-icon {
    opacity: .7;
    width: 18px;
    height: 18px;
    margin-left: 73px;
}
.inpu {
    width: 66%;
    display: block;
    height: 40px;
    margin: 0;
    border: none;
    outline: none;
    background-color: #EFF0F6;
    border-radius: 13px;
    padding: 3px 50px;
    font-size: 1.5rem;
    line-height: 32px;
    margin-top: 50px;
    margin-left: 72px;
}
::placeholder {
    font-size: 14px;
}
.choose-Topic__list {
    width: 50%;
    margin: 3rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "SVN-Gilroy-Bold";
    color: #a0a3bd;
    max-height: 580px;
    flex: 1 1;

}
.choose-Topic__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    border: none;
    background-color:#fcfcfc;
}
.choose-Topic__item-img{
    display: block;
}
.choose-Topic__item__name {
    max-width: 90px;
}
.flex {
    display: flex;
    margin-left: 135px;
    width: 406px;
    margin-top: -10px;
    gap: 45px;
}
.flex2 {
    display: flex;
    margin-left: 135px;
    width: 400px;
    gap: 45px;
    margin-top: -35px;
}
.spma {
    text-align: left;
    font-size: 14px;
}
.icong {
    width: 60px;
    height: 70px;
}
.icong1{
    width: 60px;
    height: 70px;
    margin-top: 1px;
}
.tem {
    display: flex;
    flex-direction: column;
    align-items: center;
  margin-left: -42px;
    border: none;
    background-color: #fcfcfc;
}
.choose-Topic-disable {
    background: #3D40C6;;
    border-radius: 96px;
    width: 60%;
    margin: 35px auto 10px;
    text-align: center;
    padding: 10px;
    color: white;

    cursor: not-allowed;
}
.icong12 {
    width: 60px;
    height: 70px;
    margin-top: 1px;
    margin-top: -30px;
    margin-left: 4px;
}
.spam1 {
    width: 48px;
    color: #A0A3BD;
}
.pam {
    color: #A0A3BD;
}
.spam {
    color: #A0A3BD;
}
.pam9 {
    width: 79px;
    color: #A0A3BD;
}
.choose-Topic__list1{
    width: 50%;
    margin: 3rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "SVN-Gilroy-Bold";
    color: #a0a3bd;
    max-height: 580px;
    flex: 1 1;
    margin-left: -10px;
}
.choose-Topic__item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    border: none;
    background-color:#fcfcfc;
    margin-left: -10px;
}
